*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(130.02deg, #628E75 0.66%, #1A4855 83.32%);
}
header{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    gap: 20rem;
}
header .contacts ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
}
main{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 60vh;
    align-items: center;
}
.section-dir ul{
 
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    margin-left: 5em;
    margin-top:3rem;
    color: #F9F9F9;
}
.section-dir ul li:nth-child(1){
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.section-dir ul li:nth-child(2){
     margin-top:5rem;
}
.section-dir ul li:nth-child(3){
    font-style: normal;
    font-weight: 900;
    font-size: 58px;
    line-height: 149%;
    flex: none;

}
.section-dir ul li:nth-child(4){
    margin-top:2rem ;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 180%;
    width: 445px;

}
.section-dir ul .buttons{
    display: flex;
    gap: 18px;
}
.section-dir ul .buttons .btn2 button{
    background-color: transparent;
    border: 2px solid #658E76;
}
.section-dir ul li .button .btn{
    position: relative;
    top:35px;
    left: 30px;
    display: flex;
    gap: 0.3rem;
    z-index: 1;
    display: flex;
    align-items: center;
}
.section-dir ul li .button .btn img{
    width:11.67px;
    height:15px;
}
.section-dir ul li button{
    background: #658E76;
    border:none;
    width: 225px;
    height: 45px;
    transform: skewX(-35deg);
}
.section-dir ul li .button .btn p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    /* identical to box height, or 29px */
    text-transform: uppercase;
    color: #F9F9F9;
}
/* -----------section-esq---------- */

.section-esq{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
}
.section-esq ul{
    display: flex;
    
    align-items: center;
    list-style: none;
    gap:30px;
    margin-top: 50px;
}

/* ---------------mobile-------------- */

@media (max-width:1000px){
    .main{
        justify-content: space-around;
    }
    .section-dir {
         width: 25em;
    }
    .section-dir ul li:nth-child(3){
        font-size:25px;
    }
    .section-dir ul li:nth-child(2){
        font-size:16px ;
    }
    .section-dir ul li:nth-child(4){
        font-size:13px ;
        width: 250px;
    } 
    .section-esq img{
        width: 200px;
    }
    .section-dir ul li button {
      
        width: 180px;
        height: 30px;
        
    }
    .section-dir ul li .button .btn p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .section-dir ul li .button .btn img{
        margin-bottom: 10px;

    }
}
@media (max-width:600px){
    header{
        gap:0;
    }
    header .logo img{
        width: 80px;
    }
    header .contacts ul img{
        width: 20px;
    }
    main{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap:0px;
    }
    .section-esq{
        display: flex;
        flex:1;
    }
    .section-dir ul{
        margin-top:0px;
    }
    .buttons .btn2{
        visibility: hidden;
    }
    .section-dir ul li:nth-child(2){
        margin: 0;
    }
}